
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #898989;/* Footer height */
}

/* prevent navbar from collapsing*/
@media (max-width: 991.98px) {
  .no-collapse.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .no-collapse.navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

/*responsive borders*/
@media (min-width: 768px) {
  .border-md-top {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-md-right {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-bottom {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md-left {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-md-top-0 {
    border-top: 0 !important;
  }
  .border-md-right-0 {
    border-right: 0 !important;
  }
  .border-md-bottom-0 {
    border-bottom: 0 !important;
  }
  .border-md-left-0 {
    border-left: 0 !important;
  }
  .border-md-x {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-y {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-0 {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

@media (max-width: 768px) {
  .border-md-top-max {
    border-top: 1px solid #e3e7eb !important;
  }
  .border-md-right-max {
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-bottom-max {
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md-left-max {
    border-left: 1px solid #e3e7eb !important;
  }
  .border-md-top-0-max {
    border-top: 0 !important;
  }
  .border-md-right-0-max {
    border-right: 0 !important;
  }
  .border-md-bottom-0-max {
    border-bottom: 0 !important;
  }
  .border-md-left-0-max {
    border-left: 0 !important;
  }
  .border-md-x-max {
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-y-max {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
  }
  .border-md-max {
    border-top: 1px solid #e3e7eb !important;
    border-bottom: 1px solid #e3e7eb !important;
    border-left: 1px solid #e3e7eb !important;
    border-right: 1px solid #e3e7eb !important;
  }
  .border-md-0-max {
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}