# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# testing files generated
*.txt.json

*.xml


# pkl files
*.pkl

# Instructor Model
instructorXL_model

# test directories
/appel/
/appel_llama/
/testvenv/bin/activate
/testvenv/bin/activate.csh
/testvenv/bin/activate.fish
/testvenv/bin/Activate.ps1
/testvenv/bin/alembic
/testvenv/share/doc/networkx-3.0/examples/drawing/chess_masters_WCC.pgn.bz2
/testvenv/bin/convert-caffe2-to-onnx
/testvenv/bin/convert-onnx-to-caffe2
/testvenv/bin/f2py
/testvenv/bin/f2py3
/testvenv/bin/f2py3.8
/testvenv/bin/flask
/testvenv/share/doc/networkx-3.0/examples/algorithms/hartford_drug.edgelist
/testvenv/bin/html2text
/testvenv/bin/htmlmin
/testvenv/bin/huggingface-cli
/testvenv/bin/isympy
/testvenv/share/man/man1/isympy.1
/testvenv/share/doc/networkx-3.0/examples/drawing/knuth_miles.txt.gz
/testvenv/bin/langchain-server
/testvenv/bin/lesscpy
/testvenv/share/doc/networkx-3.0/LICENSE.txt
/testvenv/bin/mako-render
/testvenv/bin/markdown-it
/testvenv/share/doc/networkx-3.0/examples/3d_drawing/mayavi2_spring.py
/testvenv/bin/modal
/testvenv/bin/nltk
/testvenv/bin/normalizer
/testvenv/bin/openai
/testvenv/bin/pip
/testvenv/bin/pip3
/testvenv/bin/pip3.8
/testvenv/bin/pip3.10
/testvenv/share/doc/networkx-3.0/examples/subclass/plot_antigraph.py
/testvenv/share/doc/networkx-3.0/examples/3d_drawing/plot_basic.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_beam_search.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_betweenness_centrality.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_blockmodel.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_center_node.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_chess_masters.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_circuits.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_custom_node_icons.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_dag_layout.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_davis_club.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_dedensification.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_degree.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_degree_sequence.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_directed.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_edge_colormap.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_ego_graph.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_eigenvalues.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_erdos_renyi.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_expected_degree_sequence.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_football.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_four_grids.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_house_with_colors.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_iterated_dynamical_systems.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_karate_club.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_knuth_miles.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_krackhardt_centrality.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_labels_and_colors.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_morse_trie.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_multipartite_graph.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_napoleon_russian_campaign.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_node_colormap.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_parallel_betweenness.py
/testvenv/share/doc/networkx-3.0/examples/subclass/plot_printgraph.py
/testvenv/share/doc/networkx-3.0/examples/basic/plot_properties.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_rainbow_coloring.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_random_geometric_graph.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_rcm.py
/testvenv/share/doc/networkx-3.0/examples/basic/plot_read_write.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_roget.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_sampson.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_selfloops.py
/testvenv/share/doc/networkx-3.0/examples/basic/plot_simple_graph.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_simple_path.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_snap.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_spectral_grid.py
/testvenv/share/doc/networkx-3.0/examples/algorithms/plot_subgraphs.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_triad_types.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_tsp.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_unix_email.py
/testvenv/share/doc/networkx-3.0/examples/drawing/plot_weighted_graph.py
/testvenv/share/doc/networkx-3.0/examples/graph/plot_words.py
/testvenv/bin/protoc-gen-grpclib_python
/testvenv/bin/protoc-gen-python_grpc
/testvenv/bin/publish.py
/testvenv/bin/pygmentize
/testvenv/bin/python
/testvenv/bin/python3
/testvenv/pyvenv.cfg
/testvenv/share/doc/networkx-3.0/examples/3d_drawing/README.txt
/testvenv/share/doc/networkx-3.0/examples/algorithms/README.txt
/testvenv/share/doc/networkx-3.0/examples/basic/README.txt
/testvenv/share/doc/networkx-3.0/examples/drawing/README.txt
/testvenv/share/doc/networkx-3.0/examples/graph/README.txt
/testvenv/share/doc/networkx-3.0/examples/subclass/README.txt
/testvenv/share/doc/networkx-3.0/examples/README.txt
/requirements.txt
/testvenv/share/doc/networkx-3.0/examples/graph/roget_dat.txt.gz
/testvenv/bin/sacremoses
/testvenv/bin/torchrun
/testvenv/bin/tqdm
/testvenv/bin/transformers-cli
/testvenv/share/doc/networkx-3.0/examples/drawing/unix_email.mbox
/testvenv/bin/watchfiles
/testvenv/share/doc/networkx-3.0/examples/graph/words_dat.txt.gz
/testvenv/share/doc/networkx-3.0/examples/algorithms/WormNet.v3.benchmark.txt
