

<footer class="footer" style="background-color: #15546f81;">
	<div class="container-fluid .bg-secondary">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link"
					   target="_blank"
					   href="mailto:hlopezhernandez01@gmail.com">
						<i class="fa-regular fa-envelope" style="color: #617e5b">   hlopezhernandez01@gmail.com</i>
					</a>
				</li>
			</ul>
		</nav>
		<div class="ml-auto">
			<a href="https://twitter.com/HectorLopezPhD" target="_blank" rel="noopener noreferrer">
				<i class="fa-brands fa-2x fa-square-twitter" style="color: #1DA1F2"></i>
			</a>
		</div>
	</div>
</footer>
