//## For each of Bootstrap's buttons, define text, background and border color.

$body-text-color: #491F40; // text in cards
$white-color: #fafafa; // Card Backgrounds
$grey-color: #FAFAFA;
$grey2-color: #c6f4c344; // main background
$black-color: #fa0000; // dont know
$transparent-bg : #fafafa; // card headers
$dark-color : #98c68f88; // nav bar
$dark2-color : #617e5b; // sidebar
$primary-color : #0A1B37; // primary color used in elements
$primary2-color : #D6EFD8; // footer text
$secondary-color : #fa0000; // dont know
$secondary2-color : #fa0000; // dont know
$info-color : #00ff9d70;  // export print buttons
$info2-color : #fa0000; // dont know
$success-color : #4E93FF;
$success2-color : #ff3300;
$warning-color : #FFE472;
$warning2-color : #FFE472;
$danger-color : #007c2d;
$danger2-color : #FFE472;
//#C6F4C3
// Font Weight
$font-weight-light : 300;
$font-weight-normal : 400;
$font-weight-bold : 600;
$font-weight-extrabold : 700;