{% extends "layouts/base.html" %}

{% block title %} Chat {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/movinwords/movinwords.css">
{% endblock stylesheets %}

{% block content %}


<!--One row, Two columns-->
	<div class="row bg-transparent transparent-row" >
				<div class="col-lg-1 bg-transparent text-right px-0">
<!--					<button type="button" class="btn btn-icon btn-round btn-primary">-->
<!--						<i class="fab fa-twitter"></i>-->
<!--					</button>-->
				</div>

				<div class="col-lg-10 mb-5 bg-transparent">
<!--					This is the disclaimer-->
					<div class="card mx-auto py--10">
						<div class="card-body text-center py--10"> <!--Question answer body-->
								<div class="h3" style="color: #0A1B37;">
									Welcome to pubfind. Get answers to your scientific questions from the papers you want to learn from.
									<a style="color: #4E93FF;" href="mailto:easyfiapp@gmail.com"><br> Intereseted in hosting with your publications? Let me know!</a>
								</div>

						</div>
					</div>

					<div class="card mx-auto">

						<div class="card-body py--2"> <!--Question answer body-->

							<div class="row py-2"> <!-- question answer area-->
<!--								input bar-->
								<div class="col-lg-12 pb-1" style="border-color:#828282 !important;"> <!-- question area-->
					<!--								Row for question and submit button-->
									<div class="row">
										<div class="col">

											<form action="/index" method="POST">
												<!-- <label for="user_query"> -->
													<!-- <p class="h1">Ask me about your transactions!</p> -->
												<!-- </label> -->
												<span style="color:#070d05;" class="help-block">What do you want to know from this corpus of literature?</span>

												<div class="input-group">
													<input type="text" class="form-control form-control-lg"
														   name="user_query" id="user_query"
														   value="{{question}}"
														   placeholder="Your Question">

													<input name="persona" id="persona" value="{{persona}}" hidden/>

													<span class="input-group-btn"
														  id="loading"
														  hidden>
														<button type=submit class="btn btn-success"
																disabled>
																<span class="spinner-grow spinner-grow-sm"
																	  id="spinner"
																	  role="status"
																	  aria-hidden="true"
																 ></span>
															Loading!
														</button>
													</span>

													<span class="input-group-btn" id="content">
														<button type=submit
																onclick="loading();"
																class="btn btn-success">
																Submit!
											  			</button>
												  	</span>
												</div><!-- /input-group -->

											</form>
										</div>
									</div>
								</div>

							</div>

							<div class="row">
<!--							answer area-->
								{% if text_ans %}
								<div class="col-lg-12 px-4"><!-- answer area-->
									<h2>Question: {{question}}<br></h2>
									<p align="justify" style="color:#070d05">
										 {{text_ans|replace('\n', '<br>')|safe}}</p>
									<h2>References<br></h2>
									<p align="justify" style="color:#070d05">
										 {{references|replace('\n', '<br>')|safe}}<br></p>
								</div>
								{% else %}
								<div class="col-lg-12 align-self-center text-center px-4 py-4"><!-- answer area-->

										<div class="row align-items-center">
											<div class="col">
												<p class="h1 text-center" style="color:#070d05">Ask a question to get started!</p>
											</div>
										</div>
								</div>
								{% endif %}
							</div>

							{% if text_ans %}
							<div class="row">
<!--							collapsable plot-->

								<div class="col-lg-12 px-4 py-4">
									<h2>Source Materials:<br></h2>


										{% for context in contexts %}
											<h3>
												 {{context_ids[loop.index0]}}</h3>
											 <p align="justify" style="color:#070d05">
												 {{context}}</p>

										{% endfor %}

								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="col-md-1 text-left px-0 bg-transparent">

				</div>

			</div>


{% endblock content %}

{% block javascripts %}
<!--Bubble Chart-->
	<script>
    // setup
    {% if data %}
    	data = { datasets: {{data | safe}} }
    {% else %}
    	data = {
    		datasets: [{
				label: 'Weekly Sales',
				data:[
				  {'x': 1, 'y': 4.59, 'r': 15},
				  {'x': 2, 'y': 13.13, 'r': 15},
				  {'x': 3, 'y': 6.09, 'r': 15}],
				backgroundColor: [
				  'rgba(255, 26, 104, 0.2)',
				  'rgba(54, 162, 235, 0.2)',
				  'rgba(255, 206, 86, 0.2)',
				  'rgba(75, 192, 192, 0.2)',
				  'rgba(153, 102, 255, 0.2)',
				  'rgba(255, 159, 64, 0.2)',
				  'rgba(0, 0, 0, 0.2)'
				],
				borderColor: [
				  'rgba(255, 26, 104, 1)',
				  'rgba(54, 162, 235, 1)',
				  'rgba(255, 206, 86, 1)',
				  'rgba(75, 192, 192, 1)',
				  'rgba(153, 102, 255, 1)',
				  'rgba(255, 159, 64, 1)',
				  'rgba(0, 0, 0, 1)'
				],
				borderWidth: 1
			  }]
			}
	{% endif %}

	// Bubble Chart
    // config
    const config = {
      type: 'bubble',
      data: data,
      options: {
		plugins: {
			legend: {
				position: 'bottom',
			}
		},
      	responsive: true,
      	maintainAspectRatio: false,
        scales: {
          x: {
            type: 'time',
            time: {
              unit: 'day'
            },
          y: {
            beginAtZero: true
          }

          }
        }
      }
    };

    // render init block
    const bubbleChart = new Chart(
      document.getElementById('bubbleChart'),
      config
    );

    </script>
<!--Pie Chart-->
	<script>

		// Pie Chart
		data_pie = {{data | safe}}

		const config_pie = {
				  type: 'pie',
				  data: data_pie,
				  options: {
					plugins: {
						legend: {
							position: 'bottom',
						}
					},
					responsive: true,
					maintainAspectRatio: false,
				  }
				};

		// render init block
		const pieChart = new Chart(
		  document.getElementById('pieChart'),
		  config_pie
		);
	</script>
<!--Bar chart-->
	<script>
		const data_bar = {{data | safe}}

		const config_bar = {
			  type: 'bar',
			  data: data_bar,
			  options: {
			  		maintainAspectRatio: false,
					plugins: {
							legend: {
								position: 'bottom',
							}
						},
			  		responsive: true,
					scales: {
					  x: {
						stacked: true,
					  },
					  y: {
						stacked: true
					  }
					},
					tooltips: {
						mode: 'label',
						callbacks: {
							label: function(tooltipItem, data) {
								var category = data.datasets[tooltipItem.datasetIndex].label;
								var total_per_cat = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
								var total = 0;

								for (var i = 0; i < data.datasets.length; i++)
									total += data.datasets[i].data[tooltipItem.index];

								if (tooltipItem.datasetIndex != data.datasets.length - 1) {
									return category + " : $" + total_per_cat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
								} else {
									return [category + " : $" + total_per_cat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'), "Total : $" + total];
								}
							}
						}
					}
			  }
			};

		// render init block
		const temporalChart = new Chart(
		  document.getElementById('temporalChart'),
		  config_bar
		);


	</script>
<!--	Loop through buttons to auto set the input field-->
<!--Jinja2 loop over questions to auto generate button click events-->
	<script>
		const buttons = [{% for question in question_array %}document.getElementById("q{{loop.index}}"),{% endfor %}];
		const userqueryField = document.getElementById("user_query");

		buttons.forEach(button => {
		  button.addEventListener("click", () => {
			userqueryField.value = button.dataset.query;
		  });
		});

	</script>

<!--	Loop through buttons to apply persona-->
<!--Jinja2 loop to assign persona in input form-->
	<script>
		const pbuttons = [{% for pp in personas %}document.getElementById("p{{loop.index}}"),{% endfor %}];
		const personaField = document.getElementById("persona");

		pbuttons.forEach(pbutton => {
		  pbutton.addEventListener("click", () => {

		    pbuttons.forEach(resbutton => {

				resbutton.className="btn-sm btn-icon btn-round btn-primary";

			});

			personaField.value = pbutton.dataset.query;
			pbutton.className = "btn-sm btn-icon btn-round btn-switched";

		  });
		});

	</script>


<!--moving words-->
	<script src="https://unpkg.com/movinwords/movinwords.min.js"></script>

	<script>
	  (function () {
		const sentence = new Movinwords({
		  el: '.my-sentence'
		});
	  })();
	</script>

<script>
  	var $myForm = $("#persona_form");
	$myForm.submit(function(){
		$myForm.submit(function(){
			return false;
		});
	});
</script>

<!--visibility of spinner-->
	<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").removeAttr("hidden");
            $("#content").attr("hidden","hidden");
        }
		// ]]>
	</script>
{% endblock javascripts %}



